/*
Theme Name: PERSONAL LOANS 2.0
Description: PERSONAL LOANS 2.0
Author: CHILLI DEE
Theme URI: https://www.chillidee.com.au
Author URI: https://www.chillidee.com.au
Version: 1.0
Text Domain: CHILLI DEE
*/

.blog .dt-format-gallery .dt-format-gallery-coll.full,
.archive .dt-format-gallery .dt-format-gallery-coll.full,
.search .dt-format-gallery .dt-format-gallery-coll.full
{
	display: none;
}


.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {}

.sub-title-black {
text-align:left;
font-size:24px;
font-weight:600;
color:#262b2c;
}


.sub-title-white {
text-align:left;
font-size:24px;
font-weight:600;
color:#f2f2f2;
}

.cta-title {
text-align:center;
color:#ffffff;
font-size: 32px;
font-weight:600;
}




h1 {color:#f2f2f2 !important;}

.csc-title {
text-align:center;
font-size:42px;
font-weight:600;
line-height: 42px;
}



.banner-quick-links {
    font-size: 19px;
    text-decoration: none !important;
    font-weight: 600;
}
.banner-quick-links:hover {
font-size: 19px;
    text-decoration: underline;
    color: white !important;
    padding-left: 5px;
	font-weight: 600;
}
